.auth-signup
  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %label{:for => "email"}= t(:'email_address')
    %input#email{:name => 'email', :type => 'email', :placeholder => t(:'email_address'), :required => true}

    %label{:for => "password"}= t(:'password')
    %input#password{:name => 'password', :type => 'password', :placeholder => t(:'password'), :required => true}

    %label{:for => "password_confirm"}= t(:'password/confirm')
    %input#password_confirm{:name => 'password_confirm', :type => 'password', :placeholder => t(:'password/confirm'), :required => true}

    %button.pure-button.button.button-primary{:type => 'submit'}= t(:'auth/signup/title')
