.system-utilities-index
  %h1= t(:'system/utilities/title')

  .form-wrapped
    %a.button.pure-button{href: url('/system/utilities/address-sticker')}
      %i.fa.fa-envelope= ""
      = t(:'system/utilities/address_sticker/title')
