<h1>Site alert message</h1>

<p>An alert of type <code><%= alert_type %></code> has been triggered:</p>
<p><blockquote><%= alert_message %></blockquote></p>

<p>This is an automated email from <%= site_name %>.</p>
