<p>Hello <%= name.first %>,</p>

<p>
  This is a reminder that you are rostered to do mail pickup on
  <strong><%= day.strftime("%A, %-d %B %Y") %></strong>.
</p>

<p>
  If you can no longer do this mail pickup, please notify the
  <%= org_name %> administrators as soon as possible.
</p>

<p>
  Thank you for volunteering!
</p>
