.button,
.pure-button
{
  &.button-primary
  {
    color: $color_symbolic_primary_fg;
    background-color: $color_symbolic_primary_bg;
  }

  &.button-success
  {
    color: $color_symbolic_success_fg;
    background: $color_symbolic_success_bg;
  }

  &.button-warning
  {
    color: $color_symbolic_warning_fg;
    background: $color_symbolic_warning_bg;
  }

  &.button-error
  {
    color: $color_symbolic_error_fg;
    background: $color_symbolic_error_bg;
  }
}
