.message
{
  display: block;
  margin: .5em 0;
  padding: .5em 1em;
  width: 100%;

  background: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 4px;

  &.message-success
  {
    border-color: $color_symbolic_success_border;
    background: $color_symbolic_success_bg;
    color: $color_symbolic_success_fg;
  }

  &.message-warning
  {
    border-color: $color_symbolic_warning_border;
    background: $color_symbolic_warning_bg;
    color: $color_symbolic_warning_fg;
  }

  &.message-error
  {
    border-color: $color_symbolic_error_border;
    background: $color_symbolic_error_bg;
    color: $color_symbolic_error_fg;
  }
}
