.page-header-warning
{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: $color_warning_unspecified_fg;
  background: $color_warning_unspecified_bg;
  border-bottom: 1px solid $color_warning_unspecified_border;

  p
  {
    margin: 1em 0;
    padding: 0;
    width: 100%;

    text-align: center;
  }

  a
  {
    color: inherit;
  }

  &.maintenance-warning
  {
    color: $color_warning_maintenance_fg;
    background: $color_warning_maintenance_bg;
    border-bottom-color: $color_warning_maintenance_border;
  }

  &.appconfig-refresh-warning,
  &.tos-banner
  {
    color: $color_warning_appconfig_refresh_fg;
    background: $color_warning_appconfig_refresh_bg;
    border-bottom-color: $color_warning_appconfig_refresh_border;
  }

  &.system-penpal-copied-link-warning
  {
    color: $color_warning_system_penpal_copied_link_fg;
    background: $color_warning_system_penpal_copied_link_bg;
    border-bottom-color: $color_warning_system_penpal_copied_link_border;
  }
  
  &.announcement
  {
    color: $color_warning_announcement_fg;
    background: $color_warning_announcement_bg;
    border-bottom-color: $color_warning_announcement_border;
  }
}
