.penpal-waiting-item {
  margin: 1em auto 0 auto;
  max-width: 768px;

  .penpal-waiting-item-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      font-weight: normal;
      font-size: 1.5em;
    }
  }
}
