.system-admin-penpal-relationship-correspondence-view
  %h1= title

  %a.pure-button.button{:href => url("/system/penpal/relationship/#{relationship.id}/correspondence")}
    %i.fa.fa-chevron-left
    = t(:'back')

  - unless relationship.confirmed
    .message.message-warning
      = t(:'system/penpal/relationship/correspondence/unconfirmed_relationship')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationship/correspondence/view/section_title')

        %ul.block-list
          %li= t(:'system/penpal/relationship/correspondence/view/from', :name => correspondence_d[:sending_penpal_name])
          %li= t(:'system/penpal/relationship/correspondence/view/to', :name => correspondence_d[:receiving_penpal_name])
          %li= t(:'system/penpal/relationship/correspondence/view/uploaded', :date => correspondence_d[:creation])

          - if correspondence_d[:creating_user]
            %li= t(:'system/penpal/relationship/correspondence/view/uploaded_by', :name => correspondence_d[:creating_user_name], :id => correspondence_d[:creating_user].id)

          - if correspondence_d[:receiving_is_incarcerated]
            %li
              = t(:'system/penpal/relationship/correspondence/view/sent')

              - if correspondence_d[:has_been_sent]
                - if correspondence_d[:sending_method] == "post"
                  = t(:'system/penpal/relationship/correspondence/view/sent/via_post', :name => correspondence_d[:actioning_user_name])

                - elsif correspondence_d[:sending_method] == "email"
                  = t(:'system/penpal/relationship/correspondence/view/sent/via_email', :name => correspondence_d[:actioning_user_name])
              - else
                = t(:'system/penpal/relationship/correspondence/view/sent/no')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationship/correspondence/view/actions')

        - if has_role?('system:penpal:relationship:correspondence:mark') && is_to_admin_profile
          %form.pure-form.pure-form-stacked{:method => 'POST', :action => mark_form_url}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %button.pure-button.button{:type => 'submit', :class => [correspondence_d[:actioned] || 'button-success']}
              - if correspondence_d[:actioned]
                = t(:'system/penpal/relationship/correspondence/view/actions/mark/as_unread')
              - else
                = t(:'system/penpal/relationship/correspondence/view/actions/mark/as_read')

        - if correspondence_d[:receiving_is_incarcerated]
          - if correspondence_d[:has_been_sent]
            %a.pure-button.button{:disabled => true, :href => "#"}
              = t(:'system/penpal/relationship/correspondence/view/actions/send/already_sent')

          - else
            - if ReConnect.app_config['disable-email-to-prisons']
              .message.message-warning
                = t(:'system/penpal/relationship/correspondence/view/actions/send/prison_email_disabled_warning')

            - if has_role?('system:penpal:relationship:correspondence:send')
              %form.pure-form.pure-form-stacked{:method => 'POST', :action => send_form_url}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'send_method', :value => 'post'}
                %button.pure-button.button{:type => 'submit'}
                  %i.fa.fa-check
                  = t(:'system/penpal/relationship/correspondence/view/actions/send/via_post')

              %form.pure-form.pure-form-stacked{:method => 'POST', :action => send_form_url}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'send_method', :value => 'email'}
                %button.pure-button.button{:type => 'submit'}
                  %i.fa.fa-check
                  = t(:'system/penpal/relationship/correspondence/view/actions/send/via_email')

        %a.pure-button.button.button-primary{:href => download_form_url}
          %i.fa.fa-download
          = t(:'system/penpal/relationship/correspondence/view/actions/download')

        - if has_role?('system:penpal:relationship:correspondence:delete')
          %a.pure-button.button.button-error{:href => delete_form_url}
            %i.fa.fa-trash
            = t(:'system/penpal/relationship/correspondence/view/actions/delete')

    - if file_d[:display_html]
      .pure-u-1
        .form-wrapped.x-margin
          %h1= t(:'system/penpal/relationship/correspondence/view/content_view')

          .correspondence-html.rich-text-container
            = file_d[:html_content]

  - if settings.development? || has_role?("system:debugging")
    .page-footer.y-margin-large
      %ul.inline-list
        %li
          &= "file id #{correspondence.file_id.inspect}"
          - if correspondence.file_id
            %a{:href => to("/system/files/#{correspondence.file_id}")}
              %i.fa.fa-link= ""

        %li
          &= "sent #{correspondence.sent.inspect}"

        %li
          &= "actioning user #{correspondence.actioning_user.inspect}"
          - if correspondence.actioning_user
            %a{:href => to("/system/user/#{correspondence.actioning_user}")}
              %i.fa.fa-link= ""

        - if is_to_admin_profile
          %li
            is to admin profile
