.pure-g
  .pure-u-1.pure-u-md-1-4= ""
  .pure-u-1.pure-u-md-1-2
    .internal-server-error-splash.form-wrapped.xy-margin
      %h1= title
      %p.center
        = t(:'errors/internal_server_error/content')
