.system-admin-penpal-relationship-create
  %h1= title

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %label{:for => "penpal_one"}= t(:'penpal_id')
    %input#penpal_one{:type => 'number', :name => 'penpal_one', :required => true, :value => penpal_one_id.zero? ? nil : penpal_one_id}

    %label{:for => "penpal_two"}= t(:'penpal_id')
    %input#penpal_two{:type => 'number', :name => 'penpal_two', :required => true, :value => penpal_two_id.zero? ? nil : penpal_two_id}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-search
      = t(:'system/penpal/relationships/create/submit')
