- if ReConnect.languages.count > 1
  %form{:method => "POST", :action => "/language"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %select{:name => "language"}
      - ReConnect.languages.each do |k, v|
        %option{value: k, selected: (k == current_language ? "selected" : false)}
          = v[:meta_description]

    %button.pure-button{:type => "submit"}
      = t :'language/change'
