.system-admin-penpal-edit
  %h1= title

  %a.pure-button.button{:href => "/system/penpal/#{penpal.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/penpal/edit/section_title')

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "edit_first_name"}= t(:'name/first')
          %input#edit_first_name{:type => 'text', :name => 'first_name', :required => true, :placeholder => t(:'name/first'), :value => pp_data[:name_a].first}
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "edit_middle_name"}= t(:'name/middle')
          %input#edit_middle_name{:type => 'text', :name => 'middle_name', :required => false, :placeholder => t(:'name/middle'), :value => pp_data[:name_a].length == 3 ? pp_data[:name_a][1] : nil}

    %label{:for => "edit_last_name"}= t(:'name/last')
    %input#edit_last_name{:type => 'text', :name => 'last_name', :required => true, :placeholder => t(:'name/last'), :value => pp_data[:name_a].last}

    %label{:for => "edit_pseudonym"}= t(:'pseudonym')
    %input#edit_pseudonym{:type => 'text', :name => 'pseudonym', :required => false, :placeholder => t(:'pseudonym'), :value => pseudonym}

    .pure-g
      .pure-u-1.pure-u-md-1-3
        %label{:for => "edit_is_incarcerated"}
          %input#edit_is_incarcerated{:type => 'checkbox', :name => 'is_incarcerated', :checked => pp_data[:is_incarcerated]}
          = t(:'is_incarcerated')

      .pure-u-1.pure-u-md-1-3
        %label{:for => "edit_is_advocacy"}
          %input#edit_is_advocacy{:type => 'checkbox', :name => 'is_advocacy', :checked => pp_data[:is_advocacy]}
          = t(:'is_advocacy')

      .pure-u-1.pure-u-md-1-3
        %label{:for => "edit_correspondence_guide_sent"}
          %input#edit_correspondence_guide_sent{:type => 'checkbox', :name => 'correspondence_guide_sent', :checked => pp_data[:correspondence_guide_sent]}
          = t(:'correspondence_guide_sent')

    %label{:for => "edit_prisoner_number"}= t(:'prisoner_number')
    %input#edit_prisoner_number{:type => 'text', :name => 'prisoner_number', :required => false, :placeholder => t(:'prisoner_number'), :value => pp_data[:prisoner_number]}

    %label{:for => "edit_birthday"}= t(:'birthday')
    %input#edit_birthday{:type => 'date', :name => 'birthday', :required => false, :value => pp_data[:birthday]&.strftime("%Y-%m-%d")}

    %label{:for => "edit_penpal_status"}= t(:'penpal_status')
    %select#edit_penpal_status{:name => 'status', :required => true}
      - ReConnect.app_config['penpal-statuses'].each do |s|
        %option{:value => s, :selected => pp_data.key?(:status) ? pp_data[:status] == s : false}= s

    - if ReConnect.app_config["penpal-allow-status-override"]
      %label{:for => "edit_penpal_status_override"}
        %input#edit_penpal_status_override{:type => 'checkbox', :name => 'status_override', :checked => pp_data[:status_override]}
        = t(:'penpal_status_override')

    %label{:for => "edit_prison"}= t(:'prison')
    %select#edit_prison{:name => 'prison', :required => true}
      %option{:value => '0', :selected => !(pp_data.key?(:prison))}= t(:'unknown_prison')
      - prisons.each do |p|
        %option{:value => p[:id], :selected => pp_data.key?(:prison) ? pp_data[:prison][:id] == p[:id] : false}= p[:name]

    %label{:for => "edit_release_date"}= t(:'release_date')
    %input#edit_release_date{:type => 'date', :name => 'release_date', :required => false, :value => pp_data[:release_date]&.strftime("%Y-%m-%d")}

    %label{:for => "edit_creation"}= t(:'creation')
    %input#edit_creation{:type => 'date', :name => 'creation', :required => true, :value => pp_data[:creation]&.strftime("%Y-%m-%d")}

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'intro', :editor_label => t(:'penpal_intro'), :editor_data => intro}

    .y-margin= ""

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-pencil
      = t(:'save_changes')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
