.system-admin-penpal-index
  %h1= title

  %a.pure-button.button.button-success{:href => url("/system/penpal/create")}
    %i.fa.fa-plus
    = t(:'system/penpal/create/submit')

  %a.pure-button.button.button-primary{:href => url("/system/penpal/addressbook")}
    %i.fa.fa-list
    = t(:'system/penpal/address_book/title')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => url('/system/penpal/by-id')}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/penpal/find_by_id')

        %label{:for => 'penpal_id'}= t(:'penpal_id')
        %input#user_id{:type => 'text', :inputmode => "numeric", :pattern => "[0-9]*", :name => 'id', :required => true, :placeholder => t(:'penpal_id')}

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-search
          = t(:search)

    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => url('/system/penpal/search')}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/penpal/search/title')

        %label{:for => "penpal_search_type"}= t(:'system/penpal/search/type')
        %select#penpal_search_type{:name => 'type', :required => true}
          %option{:value => 'name'}= t(:'system/penpal/search/type/name')
          %option{:value => 'prisoner_number'}= t(:'system/penpal/search/type/prisoner_number')

        %label{:for => 'penpal_search_term'}= t(:'search_term')
        %input#penpal_search_term{:type => 'text', :name => 'search', :required => true, :placeholder => t(:'search_term')}

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-search
          = t(:search)
