.system-admin-penpal-view
  %h1= title

  %a.pure-button.button{:href => '/system/penpal'}
    %i.fa.fa-chevron-left
    = t(:'new_search')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/penpal/view/penpal_info')

        - if is_admin_profile
          .message.message-success
            = t(:'system/penpal/view/penpal_info/is_admin_profile')

        %ul
          - display_fields.each do |d|
            %li
              %strong= "#{d.first}:"
              %span
                &= d.last

      - if has_role?('system:penpal:relationship:create')
        .form-wrapped.x-margin
          %h1= t(:'system/penpal/view/relationships/create/title')

          - if copied_link
            %form.pure-form.pure-form-stacked{:method => 'POST', :action => "/system/penpal/relationship/create"}
              %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
              %input{:type => 'hidden', :name => 'penpal_one', :value => penpal.id}
              %input{:type => 'hidden', :name => 'penpal_two', :value => copied_link[:id]}

              %button.pure-button.button.button-primary{:type => 'submit'}
                %i.fa.fa-link
                = t(:'system/penpal/view/relationships/create/from_link', copied_link)

            %div{:style => 'border-bottom: 1px solid #000; margin: .5em 0 1em 0'}

          %form.pure-form.pure-form-stacked{:method => 'POST', :action => "/system/penpal/relationship/create"}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'penpal_one', :value => penpal.id}

            %label{:for => "other_penpal_id"}= t(:'system/penpal/view/relationships/create/from_id')
            %input#other_penpal_id{:type => 'text', :inputmode => "numeric", :pattern => "[0-9]*", :name => 'penpal_two', :placeholder => t(:'penpal_id')}

            %button.pure-button.button{:type => 'submit'}
              %i.fa.fa-link
              = t(:'system/penpal/view/relationships/create/submit')

    .pure-u-1.pure-u-md-1-2
      - if has_role?('system:penpal:notes')
        %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => "POST", :action => url("/system/penpal/#{penpal.id}/notes")}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %h1= t(:'system/penpal/view/notes/section_title')

          = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'notes', :editor_label => '', :editor_data => notes}

          .y-margin= ""

          %button.pure-button.button{:type => 'submit'}
            %i.fa.fa-pencil
            = t(:'system/penpal/view/notes/submit')

      .form-wrapped.x-margin
        %h1= t(:'system/penpal/actions')

        - if is_admin_profile
          .message.message-warning
            = t(:'system/penpal/actions/admin_profile_some_unavailable')

        - if has_role?('system:penpal:relationship:create') && !is_admin_profile
          %form{:method => 'POST', :action => "/system/penpal/#{penpal.id}/copy-link"}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %button.pure-button.button.button-primary{:type => 'submit'}
              %i.fa.fa-clipboard
              = t(:'system/penpal/actions/copy_link')

        - if has_role?('system:penpal:edit') && !user
          %a.pure-button.button.button-primary{:href => "/system/penpal/#{penpal.id}/edit"}
            %i.fa.fa-pencil
            = t(:'system/penpal/actions/edit')

        - if !is_admin_profile
          - if penpal.is_incarcerated && has_role?("system:mass_email")
            %a.pure-button.button{:href => url("/system/mass-email?ppid=#{penpal.id}")}
              %i.fa.fa-envelope
              = t(:'system/penpal/actions/send-email')

          - if has_role?("system:user:access")
            - if user
              %a.pure-button.button{:href => "/system/user/#{user.id}"}
                %i.fa.fa-user
                = t(:'system/penpal/actions/jump_to_user')

              - if has_role?('system:user:association')
                %a.pure-button.button.button-error{:href => "/system/penpal/#{penpal.id}/associate"}
                  %i.fa.fa-chain-broken
                  = t(:'system/penpal/actions/user_association_remove')

            - else
              %a.pure-button.button{:href => "#", :disabled => true}
                %i.fa.fa-user
                = t(:'system/penpal/actions/jump_to_user/no_associated')

              - if has_role?('system:user:association')
                %a.pure-button.button.button-success{:href => "/system/penpal/#{penpal.id}/associate"}
                  %i.fa.fa-chain
                  = t(:'system/penpal/actions/user_association_add')

          - if has_role?("system:penpal:delete")
            %a.pure-button.button.button-error{:href => "/system/penpal/#{penpal.id}/delete"}
              %i.fa.fa-trash
              = t(:'system/penpal/actions/delete')

    .pure-u-1
      - if has_role?('system:penpal:relationship:access')
        .form-wrapped.x-margin
          %h1= t(:'system/penpal/view/relationships/title')

          - if relationships == false
            %p
              = t(:'system/penpal/view/relationships/too_many', :count => penpal.relationship_count)

            %p
              %a.pure-button.button{:href => url("/system/penpal/#{penpal.id}?allrel=1")}
                = t(:'system/penpal/view/relationships/view_all')

          - else
            - if relationships.empty?
              = t(:'system/penpal/view/relationships/empty')

            - else
              %table.pure-table.pure-table-bordered.pure-table-striped
                %thead
                  %tr
                    %th= ""
                    %th= ""
                    %th= t(:'name')
                    %th= t(:'pseudonym')
                    %th= t(:'email_address')
                %tbody
                  - relationships.each do |r|
                    %tr
                      %td
                        %a.pure-button.button{:href => r[:link], :style => 'margin: 0 !important;'}
                          %i.fa.fa-link
                          = t(:'system/penpal/view/relationships/item/view_relationship')

                      %td
                        - if r[:archived]
                          %span{title: t(:'system/penpal/view/relationships/item/archived')}
                            %i.fa.fa-book= ""

                      %td
                        &= r[:other_party][:name]

                      %td
                        &= r[:other_party][:pseudonym]

                      %td
                        - if r[:other_party][:is_incarcerated]
                          = t(:'system/penpal/view/relationships/item/is_incarcerated')
                        - else
                          - if r[:other_party][:email]
                            %a{:href => "mailto:#{r[:other_party][:email]}"}
                              &= r[:other_party][:email]
                          - else
                            = t(:'unknown')

    .pure-u-1
      - if !intro.strip.empty?
        .form-wrapped
          %h1= t(:'penpal_intro')

          .rich-text-container
            != intro

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
