.penpal-waiting-compose
  %h1= title

  %a.pure-button.button{:href => url("/penpal/waiting")}
    %i.fa.fa-chevron-left
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'penpal/waiting/compose/section_title')

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'content', :editor_label => t(:'penpal/view/correspondence/create/compose/content_label'), :editor_data => content || ""}

    .y-margin= ""

    %p= t(:'penpal/view/correspondence/create/profanity_warning')

    %label{for: 'pseudonym'}= t(:'penpal/view/correspondence/create/compose/pseudonym_label')
    %input#pseudonym{type: 'text', name: 'pseudonym', value: pseudonym}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-upload
      = t(:'penpal/waiting/compose/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
